.user-info{
    display:flex;
    justify-content: space-around;
    padding:5px;
    margin-top:15px;
}

@media(max-width: 835px){
    form div{
        display:flex;
        flex-direction: column;
    }
}