header{
    color:white;
    background-color:#DC7633;
    padding:50px;
    text-align: center;
}

i{
  color:white;
}

header div{
  display:flex;
}

@media (min-width: 835px) {
    header a{
      display: none;
    }
  }