header{
    color:#FFF;
    background-color:#DC7633;
    padding:50px;
    text-align: center;
}

i{
  color: #FFF;
}

header div{
  display:flex;
}

.title-container{
  justify-content: center;
}

#burger-container{
  justify-content: flex-end;
}

@media (min-width: 835px) {
    header a{
      display: none;
    }
  }