navbar{
    display:flex;
    background-color: black;
    padding: 10px;
}

navbar a{
    color:white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

navbar a:hover{
    background-color:#34495E;
    color:lightsteelblue;
    font-weight: bold;
}

@media (max-width: 835px){
    navbar{
        display:none;
    }
}